@tailwind base;
@tailwind components;
@tailwind utilities;

/* font future: Averia sans libre */

:root {
  --main-blue: #3FA7C8;
  --main-brown: #f0a471;
  --main-black: #1c1c20;
  --main-white: #eef7ff;
  --error: #c54444
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}


